@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Chrome/Safari/Edge/Opera spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Hide Firefox spinners */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}